
.hero {
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/hero_bg.jpg') ;
    background-size: cover;
    padding: 40px 0 178px;

    &-burger {
        display: none;
    }

    &-title {
        width: 664px;
        font-weight: normal;
        font-size: 57px;
        line-height: 67px;
        color: #fff;
        margin: 108px 0 132px; 
    }

    &-link {
        display: inline-block;
        text-decoration: none;
        padding: 35px 131px;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        color: #fff;
        background-color: #B78A3F;
    }

    &-partners {
        display: flex;
        align-items: center;

        &-item {
            margin-left: 60px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &-navigation {
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            text-decoration: none;
            font-weight: normal;
            font-size: 19px;
            line-height: 22px;
            color: #fff;
            margin-left: 74px;

            &:first-child {
                margin-left: 0;
            }
        }
       
    }

    &-menu {
        display: none;
    }
}

@media (max-width: 1024px) {

    .hero {
        position: relative;
        box-sizing: border-box;
        height: 1087px;


        &-title {
            width: 374px;
            font-size: 40px;
            margin-bottom: 421px;
            margin-top: 231px;
        }

        &-partners {
            align-items: center;    

            &-item {
                width: 80px;
                margin-left: 20px;

                &:nth-child(2) {
                    width: 40px;
                }
            }
        }

        &-link {
            left: 0;
            position: absolute;
            width: 100%;
            text-align: center;
            padding: 24px 0;
        }

        &-navigation {
            display: none;
        }

        &-menu {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 1010px;
            padding: 38px 0 38px ;
            background-color: #737373;
            z-index: 1;
            opacity: 0;
            border-bottom: 1px solid #fff;

            &-show {
                opacity: 1;
            }

            &-icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 185px;
            }

            &-burger {
                display: block;
                position: absolute;
                top: 66px;
                right: 66px;
                z-index: 2;
                margin: 0 20px 0 18vw;
            }

            &-cross {
                position: absolute;
                top: 66px;
                left: 66px;
            }

            &-navigation {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 340px;
                height: 300px;
                margin: 0 auto;
                padding: 185px 0 279px;

                & > .hero-navigation-item {
                    text-align: center;
                    margin: 40px 0 0 0;
                    font-size: 25px;
                    line-height: 25px;
                }
            }

            &-text {
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 15px;
                color: #fff;
                text-align: center;
                margin-bottom: 20px;
            }

        }

    }
}

