.sectors {
    padding: 50px 0;
  
    &-title {
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        color: #fff;
    }

    &-subtitle {
        margin: 40px 0 30px;
        font-weight: normal;
        font-size: 23px;
        line-height: 27px;
        color: #fff;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            position: relative;
            width: calc((100% / 3 ) - 30px);
            height: 240px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-name {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 30px;
                font-weight: normal;
                font-size: 23px;
                line-height: 27px;
                color: #222222;
                background: rgba(255, 255, 255, 0.83);
                transition: 0.3s height;

                &-switched {

                    height: 100%;
                    
                }
            }

            &-tooltip {
                padding: 16px 16px 16px 75px;
                position: absolute;
                left: 100%;
                width: 325px;
                z-index: 1;
                pointer-events: none;
                appearance: none;
                font-weight: normal;
                font-size: 19px;
                line-height: 22px;
                background: #DADADA;
                clip-path: polygon(100% 0, 100% 100%, 75px 100%, 0 50%, 75px 0);
                animation: fadeIn 0.4s ease-in-out;

                &-switched {
                    left: initial;
                    right: 100%;
                    padding: 16px 75px 16px 16px;
                    clip-path: polygon(calc(100% - 75px) 0, 100% 50%, calc(100% - 75px) 100%, 0 100%, 0 0);
                }
            }
        }
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@media (max-width: 1024px) {

    .sectors {
        padding: 25px 0;
  
        &-title {
            font-size: 27px;
            line-height: 32px;
            margin-bottom: 30px;
        }
    
        &-subtitle {
            display: none;
        }
        &-list {
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-item {
                position: sticky;
                flex-direction: column;
                width: 100%;
                min-height: 230px;
                height: auto;
                margin-bottom: 30px;

                &-name {

    
                    &-switched {
                        padding:70px 0 40px;
                        height: 100%;
                        
                    }
                }

                &-tooltip {
                    padding: 30px;
                    position: sticky;
                    left: 0;
                    width: auto;
                    clip-path: none;
                    background: rgba(255, 255, 255, 0.83);
                    animation: fadeIn 0.1s ease-in-out;
    
                    &-switched {
                        left: initial;
                        right: 0;
                        padding: 30px;
                        clip-path: none;
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .sectors {
        &-list {
            flex-direction: column;


            &-item {
                position: sticky;
                flex-direction: column;
                width: 374px;
            }
        }
    }
}

@media (max-width: 414px) {

    .sectors {
        & .sectors-list-item-name {
            height: auto;
            text-align: center;
        }
        
        &-list-item {
            max-width: 98%;
        }
    }
}
