.facts {
    box-sizing: border-box;
    position: relative;
    padding: 100px 60px 50px;
  
    &-title {
      font-weight: normal;
      font-size: 35px;
      line-height: 41px;
      text-align: center;
      color: #fff;
      margin-bottom: 30px;
    }
  
    &-slide {
  
      &-desc {
        margin-top: 40px;
        font-weight: normal;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #fff;
      }
    }
  
    & > .swiper-button-prev, .swiper-button-next {
      color: #B78A3F;
    }
  
    & > .swiper-button-prev {
      left: 10px;
    }
  
    & > .swiper-button-next {
      right: 10px;
    }
  
    & > .swiper-button-disabled {
      opacity: 0;
    }
  
    &-pagination {
      display: flex;
      justify-content: center;
      margin-top: 66px;
  
      &-bullet {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: 0 20px;
        background-color: transparent;
        border: 2px solid #B78A3F;
        opacity: 1;
        transition: 0.3s background-color;
      }
  
      & > .swiper-pagination-bullet-active {
        background-color: #B78A3F;
      }
    }
  }

@media (max-width: 1024px) {
    .facts {
        padding: 70px 10px 25px;
    
        &-title {
            margin-bottom: 30px;
            font-size: 27px;
            line-height: 32px;
        }
    
        &-slide {
            width: auto;
            height: auto;

            & img {
                width: 100%;
                height: 100%;
            }

            &-desc {
                margin: 20px auto 0;
                width: 243px;
                font-size: 17px;
                line-height: 20px;
                display: none;
            }
        }
    
        &> .swiper-button-next, .swiper-button-prev {
            width: 15px;
            height: 30px;
            color: #B78A3F;
    
            &.swiper-button-disabled{
                opacity:0;
            }
        }
    
        &> .swiper-button-next {
            right: 0;
        }
    
        &> .swiper-button-prev {
            left: 0;
        }
    
        &-pagination{
            margin-top: 21px;
            
        
            &-bullet {
                margin: 0 16px;
                width: 12px;
                height: 12px;
            }

        }

        & .swiper-wrapper > .swiper-slide-active {
            & .facts-slide-desc {
                display: block;
            }
        }

    }
  }

  @media (max-width: 768px) {

    & .swiper-wrapper > .swiper-slide-active {
        right: 40%;
        width: 274px!important;
        z-index: 1;

        & .facts-slide-desc {
            display: block;
        }

    }

    & .swiper-wrapper > .swiper-slide-next {
        right: 78%;
    }

    & .swiper-wrapper > .swiper-slide-next,
      .swiper-wrapper > .swiper-slide-prev  {
        margin-top: 65px;
        width: 179px!important;
        height: 221px!important;



        & .facts-slide {
            opacity: 0.71;

            & img {
                filter: brightness(70%);
            }
        }
    }

    & .swiper-slide:first-child.swiper-slide-active {
        right: 29%;
    }

    & .swiper-slide:nth-child(2).swiper-slide-next {
        right: 67%;
    }
  }