@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "reset";

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #737373;
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 380px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 574px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 974px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1024px;
  }
}

